@charset "UTF-8";
/*imports*/
/*background */
/*color*/
/*size fonts*/
/*color fonts*/
/*reset styles*/
* {
  box-sizing: border-box;
  margin: 0;
}

/* list*/
ul {
  list-style-type: none;
  padding: 0;
}

/*links*/
a {
  text-decoration: none;
  /*&:hover {
      text-decoration: underline;
  }*/
}

/* This is for demo purposes only! */
/*  this is css in scss exemplo do codepen monica */
div[class^=col-] {
  text-align: center;
  padding: 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
}

[class*=col-] {
  padding: 15px;
  border: 2px solid #b9f;
}

@media (min-width: 768px) {
  .row {
    flex-wrap: nowrap;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
/*buttons plus + */
a.plus {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  border: 5px solid #aed2f2;
  color: #212121;
  background-color: #aed2f2;
}

/*footer*/
/*footer*/
/*tentar perceber o porque de estar em cima*/
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;
  height: 330px;
  background-color: #212121;
}

.footer-coluna-left {
  width: 50%;
  left: 5vw;
}

.footer-coluna-right {
  width: 50%;
}

.text {
  padding: 25px;
  padding-left: 260px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.text p {
  font-weight: 300;
}
.text a {
  font-weight: 300;
  color: #fff;
}

.redessociais {
  color: #fff;
  padding: 25px;
}

.metedospagamento {
  color: #fff;
  padding: 25px;
  padding-top: 0;
}

.copyright {
  position: relative;
  left: 51vw;
  color: #fff;
  bottom: 10vh;
}

/*detalhe de protudo*/
.section-produt {
  display: flex;
  gap: 20px;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 1;
}

/*tabela*/
.table {
  text-align: center;
}

.textDel {
  text-decoration: line-through;
}

.conteiner-price {
  display: inline;
}

body {
  width: 100%;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  position: absolute;
  background: #fff;
}

a {
  color: black;
  font-weight: 700;
}

/*nav & header*/
/*fase de experimentaçao. posiçao ainda errada ver mais tarde*/
nav {
  font-size: 18px;
}

nav.text-right {
  width: 100%;
  text-align: right;
  margin-top: 6px;
  margin-right: 50px;
}

.extra {
  width: 14px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 93px;
  background-color: rgb(174, 210, 242);
  z-index: 20;
}

.geralmenu {
  position: relative;
  top: -10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  position: relative;
  left: 50px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu a {
  font-size: 20px;
}

/*problema com posiçao dos icons ver mais tarde*/
.icon-menu {
  position: relative;
  top: 5px;
  right: 50px;
}

img.icon {
  width: 100%;
  max-width: 55px;
  padding-left: 17px;
}

/*login/sign up*/
/*yet to be done*/
.form-login {
  display: none;
  width: 200px;
}

.pass {
  color: rgb(87, 193, 255);
}

.send {
  background-color: skyblue;
}

.send:hover {
  color: #fff;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

/*content home page*/
/* .main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 250px;
} */
.section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.promo-img {
  width: 100%;
  display: flex;
}
.promo-img img {
  width: 100%;
  max-width: 510px;
  gap: 2px;
}

.title-primary {
  font-size: 26px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 30px;
  border: 5px solid #aed2f2;
  color: #212121;
  background-color: #aed2f2;
}

.text {
  text-align: justify;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.category a.icon-category {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.category .colar {
  font-size: 30px;
  border-radius: 102px;
  height: 140px;
  background: linear-gradient(109.15deg, rgba(196, 196, 196, 0) 0%, #e3827c 100%);
  padding: 30px;
  margin-bottom: 20px;
  min-width: 280px;
}
.category .bracelet {
  font-size: 30px;
  border-radius: 102px;
  height: 140px;
  background: linear-gradient(109.15deg, rgba(196, 196, 196, 0) 0%, #fee493 100%);
  padding: 30px;
  min-width: 280px;
  margin-bottom: 20px;
}
.category .rings {
  font-size: 30px;
  border-radius: 102px;
  height: 140px;
  background: linear-gradient(109.15deg, rgba(196, 196, 196, 0) 0%, #52a3cd 100%);
  padding: 30px;
  min-width: 280px;
  margin-bottom: 20px;
}
.category .earings {
  font-size: 30px;
  border-radius: 102px;
  height: 140px;
  background: linear-gradient(109.15deg, rgba(196, 196, 196, 0) 0%, #43b5ad 100%);
  padding: 30px;
  min-width: 280px;
  margin-bottom: 20px;
}

.section2 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section2 .coletionimg {
  position: relative;
  width: 100%;
  max-width: 260px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section2 .coletionimg:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.section2 .coletionimg:hover:after {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
