/*detalhe de protudo*/

//conteiner
.section-produt {
    display: flex;
    gap: 20px;
}
//divisao conteiner
.col-1 {
    flex: 1;
}
.col-2 {
    flex: 1;
}

/*tabela*/
.table {
    text-align: center;
}
