/*reset styles*/

* {
  box-sizing: border-box;
  margin: 0;
}

/* list*/
ul {
  list-style-type: none;
  padding: 0;
}

/*links*/
a {
  text-decoration: none;
  /*&:hover {
        text-decoration: underline;
    }*/
  //ver os a que quero underline ^ tem de ir no index.scss
  color: black;
}

body {
  width: 100%;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  position: absolute;
  background: $bgbody;
}
