/*background */
$bgbody: #fff;
$bgfooter: #212121;

/*color*/
$primarycolor: #bec9d4;
$secundarycolor: #61707e;
$colorP_red: #e3827c;
$colorS_red: #e3827c; //mudar color
$colorP_yellow: #fee493;
$colorS_yellow: #fee493; //mudar color
$colorP_blue: #52a3cd;
$colorS_blue: #aed2f2;
$colorP_green: #43b5ad;
$colorS_green: #43b5ad; //mudar color

/*size fonts*/
$fontsizeTitle: 20px;
$fontsizeSubTitle: 18px;
$fontsizeText: 16px;

/*color fonts*/
$fontTitle: #212121;
$fontText: black;
$fontTextfooter: #fff;
