/*imports*/
@import "variables.scss";
@import "reset.scss";
@import "grid2.scss";
@import "buttons.scss";
@import "footer.scss";
//produt
@import "produt-ring.scss";

body {
    width: 100%;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    justify-content: center;
    position: absolute;
    background: $bgbody;
}
a {
    color: black;
    font-weight: 700;
}

/*nav & header*/ /*fase de experimentaçao. posiçao ainda errada ver mais tarde*/
nav {
    font-size: 18px;
}
nav.text-right {
    width: 100%;
    text-align: right;
    margin-top: 6px;
    margin-right: 50px;
}
.extra {
    width: 14px;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 93px;
    background-color: rgb(174, 210, 242);
    z-index: 20;
}

.geralmenu {
    position: relative;
    top: -10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    position: relative;
    left: 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
        font-size: 20px;
    }
}
/*problema com posiçao dos icons ver mais tarde*/
.icon-menu {
    position: relative;
    top: 5px;
    right: 50px;
}
img.icon {
    width: 100%;
    max-width: 55px;
    padding-left: 17px;
}

/*login/sign up*/ /*yet to be done*/

.form-login {
    display: none;
    width: 200px;
}
.pass {
    color: rgb(87, 193, 255);
}
.send {
    background-color: skyblue;
}
.send:hover {
    color: $bgbody;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

/*content home page*/

/* .main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 250px;
} */

.section1 {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.promo-img {
    width: 100%;
    display: flex;
    img {
        width: 100%;
        max-width: 510px;
        gap: 2px;
    }
}

.title-primary {
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 30px;
    border: 5px solid #aed2f2;
    color: $fontTitle;
    background-color: #aed2f2;
}

.text {
    text-align: justify;
}

//category

.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    a.icon-category {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .colar {
        font-size: 30px;
        border-radius: 102px;
        height: 140px;
        background: linear-gradient(
            109.15deg,
            rgba(196, 196, 196, 0) 0%,
            $colorP_red 100%
        );
        padding: 30px;
        margin-bottom: 20px;
        min-width: 280px;
    }
    .bracelet {
        font-size: 30px;
        border-radius: 102px;
        height: 140px;
        background: linear-gradient(
            109.15deg,
            rgba(196, 196, 196, 0) 0%,
            $colorP_yellow 100%
        );
        padding: 30px;
        min-width: 280px;
        margin-bottom: 20px;
    }
    .rings {
        font-size: 30px;
        border-radius: 102px;
        height: 140px;
        background: linear-gradient(
            109.15deg,
            rgba(196, 196, 196, 0) 0%,
            $colorP_blue 100%
        );
        padding: 30px;
        min-width: 280px;
        margin-bottom: 20px;
    }
    .earings {
        font-size: 30px;
        border-radius: 102px;
        height: 140px;
        background: linear-gradient(
            109.15deg,
            rgba(196, 196, 196, 0) 0%,
            $colorP_green 100%
        );
        padding: 30px;
        min-width: 280px;
        margin-bottom: 20px;
    }
}

//coletion

.section2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .coletionimg {
        position: relative;
        width: 100%;
        max-width: 260px;
        padding-top: 10px;
        padding-bottom: 10px;

        &:after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            opacity: 0;
            transition: all 1s;
            -webkit-transition: all 1s;
        }
    }

    .coletionimg:hover {
        &:after {
            opacity: 1;
        }
    }
}
